auto_fetch=true

[[licenses]]
name="MIT"
file_path="{{ data_dir }}MIT"
remote_src="https://raw.githubusercontent.com/aws/mit-0/refs/heads/master/MIT-0"

[[licenses]]
name="LGPL"
file_path="{{ data_dir }}LGPL"
remote_src="https://raw.githubusercontent.com/git/git/refs/heads/master/LGPL-2.1"

[[templates]]
name="maven"
profile="default"
template_files="{{ data_dir }}maven/default/"

[[templates]]
name="ansible"
profile="default"
template_files="{{ data_dir }}ansible/default"
